

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');





*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Nunito',sans-serif;

}
:root {

    --bg-color:#191f36;
    --snd-bf-color:#262840;
    --text-color:#fff;
    --main-color:#5982F4;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #191f36;
    color: #ffffff;
}

section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #5982F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header a{
font-size: 2.5rem;
}

.logo{
    font-size: 1.5rem;
    color:#ffffff;
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}
.navbar a:hover,
.navbar a.hover{
    color: #ffffff;
    color: blue;

}

#menu-icon {
    font-size: 3.6rem;
    color: #ffffff;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
    width: 50vw;       /* চাইলে adjust করো */
    height: 400px;      /* width-এর সমান রাখলে perfect circle হবে */
    border-radius: 80%; /* এখানে magic 😍 */
    object-fit: cover;  /* image ঠিকভাবে fit হবে */
    border: 5px solid  darksalmon; /* optional cute border */
    box-shadow: 0 4px 10px rgba(0,0,0,0.5); /* soft shadow */
    animation: floatImage 4s ease-in-out infinite ;
}
.home-center h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-center  h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: #5982F4;
}

.home-center h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite ;
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-center p {
    font-size: 1.6rem;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #5982F4;
    border-radius: 50%;
    font-size: 2rem;
    color: #5982F4;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: #5982F4;
    color: #262840;
    box-shadow: 0 0 1rem #5982F4;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #5982F4;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #5982F4;
    font-size: 1.6rem;
    color: #191f36;
    letter-spacing: .1rem;
    font-weight:600;
    transition: .5s ease;
}
.btn:hover
{
    box-shadow: none;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: #262840;
}

.about-img img{
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.6rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{

    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.about-content a {

}
.services h2 {
    margin-bottom: 5rem;
}
.services-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    gap: 2rem;
}
.services-container .services-box{
    flex: 1 1 30rem;
    background: #262840;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #191f36;
    transition: .5s ease;

}

.services-container .services-box:hover{
    border-color: #5982F4;
    transform: scale(1.02) ;
}
.services-box i {
    font-size: 7rem;
    color: #5982F4;
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    background: #262840;


}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #191f36;
    overflow: hidden;
    display: flex;
}
.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), #5982F4) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;

}
.portfolio-box:hover .portfolio-layer{
    transform:  translateY(0);

}
.portfolio-layer h4 {
    font-size: 3rem;
}
.portfolio-layer p {
    font-size: 1.6rem;
    margin: 3rem 0 1rem ;

}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #ffffff;
    border-radius: 100%;

}
.portfolio-layer  i{
    font-size: 2rem;
    color: #262840;
}

body{
    background: #000718;
}
body, input, textarea, a{
    font-family: 'Roboto', sans-serif;
}

#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    width: 1100px;
    margin: auto;
    margin-top: 35px;
    border-radius: 30px;
}
.info-wrap{
    width: 35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg,rgba(126,39,156,1)0% ,rgba(49,39,157,1)100%);
    color: #ffffff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
    /*letter-spacing: 0.5px;*/
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    /*letter-spacing: 0.5px;*/
    line-height: 26px;
}
.info-details{
    list-style: none;
    margin: 60px 0px;
}
.info-details li{
    margin-top: 25px;
    font-size: 18px;
    color: #ffffff;
}
.info-details li i{
    /*background: #F44770;*/
    padding: 15px;
    /*border-radius: 50%;*/
    margin-right: 3px;
}
.info-details li a{
    color: #ffffff;
    text-decoration: none;
}
.info-details li a:hover{
    color: #F44770;
}
.social-icons{
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li{
    display: inline-block;
}
.social-icons li i{
    /*background: #F44770;*/
    color: #ffffff;
    padding: 22px;
    font-size: 30px;
    /*border-radius: 26%;*/
    margin: 2px 4px;

    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover{
    /*background: #ffffff;*/
    /*color: #000;*/
}
.form-wrap{
    width: 65%;
    float: right;
    padding: 40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #b1b1b1;
}
.form-title{
    text-align: center;
    margin-left: 23px;
    color: #000718;
    font-size: 28px;
    letter-spacing: 0.5px;
    /*color: #000718;*/
    /*letter-spacing: 0.5px;*/
}
.form-fields{
    display: table;
    width: 100%;

    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555555;
    padding: 20px 10px 20px 5px;
    width: 100%;
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 30px;
    box-shadow: inset 8px 8px 8px #ecf0f3, inset -8px -8px 8px #ffffff;

}
.form-fields .form-group:last-child{
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s ;
}
.submit-button:hover{
    background: #31279d;
}

@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child,
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #262840;
}
.footer-text{
    font-size: 1.6rem;
}

.footer-iconTop{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background: #5982F4;
    border-radius: 4rem;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem #5982F4;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: #262840;
}

/*BREAKPOINT*/
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%;
    }
    .services{
        padding: 7rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #191f36 ;
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-center h3{
        font-size: 2.6rem;
    }
    .home-center h1{
        font-size: 5rem;
    }
    .home-center{
        order: 2;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column;
    }
    .about-img img{
        width: 98vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container{
     grid-template-columns: repeat(2, 1fr);   
    }
}

@media (max-width: 617px) {
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    .home-img img{
        width: 80vw;
        margin-top: 8rem;
    }
    .about-img img{
        width: 100vw;
        margin-top: 4rem;
    }
}
@media (max-width: 450px ) {
    html{
        font-size: 50%;
    }
    .contact form.input-box input{
        width: 100%;
    }
}



